
<div class="container3">
	<div class="col-5" style="
    background-color: rgba(255, 255, 255, 0.5); height: 200px;
    width: 600px; margin: auto; margin-top: 170px"> 
    <br>
    <br>

	<h3 id="notice"><%= notice %></h3>

	<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
	<%= link_to 'Back', reservations_path %>
	<!-- <p> Continue to payment <%#= link_to 'Trips', user_reservations_path(current_user.id) %></p> -->
	<% @reservations.each do |r| %>
	<%= link_to 'Make Payment ', new_reservation_payment_path(r.id) %>
    <%= button_to "delete", {:controller => :reservations,
      :action => 'destroy', :id => r.id }, :method => :delete %>
    <% end %>
   </div>
</div>