<!DOCTYPE html>
<html>
  <head>
    <title>Powerbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link href="https://fonts.google.com/specimen/Roboto" rel="stylesheet">
  </head>

  <body>
      <div class="wrapper">
    <nav id="home-nav">
      <div class="logo">
        <a href="/">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Airbnb_Logo_B%C3%A9lo.svg/256px-Airbnb_Logo_B%C3%A9lo.svg.png">
        </a>
      </div>

      <ul>
        <% if signed_in? %>
        <li><%= link_to 'Become a host', new_listing_path %></li>
       
        <li><a href="#">Earn Credit</a></li>
        <li><a href="#">Help</a></li>
        <% else %>
        <li><a href="#" id="sign-up" data-toggle="modal" data-target="#sign-up-modal">Sign up</a></li>
        <% end%>

        <% if signed_in? %>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag current_user.profile_photo.url.to_s, :id =>'profile-photo' %>
        </a>
       
          </div>
     <% end -%>  
    
    <%= yield %>
  </body>
</html>
